h4 {
    display: inline;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    // background-color: #F2F2F2;
    // margin: 0;
}

.shade {
    box-shadow: 0px 4px 8px rgba(58, 57, 57, 0.4);

}

.submitbtn {
    width: 40px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-content: center;
    // overflow: hidden;
    // background-color: aqua;
    height: 30px;
}

.link {
    width: max-content;
}

.card-conatiner {
    align-self: center;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(24, 23, 23, 0.4);
    height: 50%;
    width: 40%;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
}

.actions {
    justify-content: center;
}

a {
    text-decoration: none;
    color: rgb(51, 102, 169);

}

p {
    font-size: 30px;
}

.green-snackbar {
    background: rgb(55, 201, 109);
    color: white;
}

.register-link {
    margin: 20px;
    font-size: 18px;
}