<div class="logo">
  <a class="navbar-brand mx-3 fs-4" [routerLink]="['/home/books-list']">
    <div class="logo-img">
       <!-- <img
        src="../../../assets/img/angular2-logo-red.png"
        width="30"
        height="30"
      /> -->
      <h3 style="color: white;">BooksMart</h3>
      
    </div
  ></a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input
            type="text"
            value=""
            class="form-control"
            placeholder="Search..."
          />
          <button
            mat-raised-button
            type="submit"
            class="btn btn-white btn-round btn-just-icon"
          >
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
  </div> 
  <ul class="nav">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home/books-list']" [routerLinkActive]='["active-link"]' >
          <i class="material-icons">library_books</i>
        <p>Explore</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  [routerLink]="['/home/books-item']" >
          <i class="material-icons">person</i>
        <p>My Books</p>
        </a>
      </li>
    </ul>
</div>
