<div class="logo">
  <a class="navbar-brand mx-3 fs-4" [routerLink]="['/home/books-list']">
    <div class="logo-img">
       <!-- <img
        src="../../../assets/img/angular2-logo-red.png"
        width="30"
        height="30"
      /> -->
      <h3 style="color: white;">BooksMart</h3>
      
    </div
  ></a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home/books-list']" [routerLinkActive]='["active-link"]' >
          <i class="material-icons">library_books</i>
        <p>Explore</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link "  [routerLink]="['/home/books-item']" >
          <i class="material-icons">person</i>
        <p>My Books</p>
        </a>
      </li>
    </ul>
</div>
