<nav class="navbar navbar-expand-lg m-0 p-0 navbar-transparent  navbar-absolute fixed-top ">
    <div class="container-fluid styling">
        <div class="navbar-wrapper">
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <form class="navbar-form" >
                <div class="input-group no-border">
                    <!-- <input type="text" value="" class="form-control" placeholder="Search..."> -->
                     <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search" 
     [formControl]="searchText">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon" (click)="calling()">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>